@model MVC_Fashion.ViewModel.ProductViewModel
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <label asp-for="NameProduct" class="control-label"></label>
                <input asp-for="NameProduct" class="form-control" />
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>
            <div class="row">
                <label asp-for="AddDescription" class="control-label"></label>
                <input asp-for="AddDescription" class="form-control" />
                <span asp-validation-for="AddDescription" class="text-danger"></span>
            </div>
            <div class="row">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="AvataPast" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="AvataPast" class="custom-file-input" id="customFile" type="file">
                        <label class="custom-file-label" for="customFile"></label>
                    </div>
                    <span asp-validation-for="AvataPast" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
}
